smartcity_environment_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "weatherapi_kafka_schema",
                "table": "weatherapi_kafka_table"
              },
              "schema": [],
              "connectionSettings": {
                "name": "smartcity_environment_lakehouse_bronze",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "0bbd216e-256c-8693-440c-130ea0228bec",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "externalReferences": {
                    "connection": "27e9eab4-70dd-4e01-b27b-e82c07dac7d4"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "applyVOrder": true,
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "weatherapi_kafka_silver"
              },
              "schema": [],
              "connectionSettings": {
                "name": "smartcity_environment_lakehouse_silver",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "1b301c79-ae65-a68a-4585-52d4ef826477",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "externalReferences": {
                    "connection": "27e9eab4-70dd-4e01-b27b-e82c07dac7d4"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Weatherapi Bronze to SIlver",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "trafficapi_kafka_schema",
                "table": "trafficapi_kafka_table"
              },
              "schema": [],
              "connectionSettings": {
                "name": "smartcity_environment_lakehouse_bronze",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "0bbd216e-256c-8693-440c-130ea0228bec",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "externalReferences": {
                    "connection": "27e9eab4-70dd-4e01-b27b-e82c07dac7d4"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "applyVOrder": true,
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "trafficapi_kafka_silver"
              },
              "schema": [],
              "connectionSettings": {
                "name": "smartcity_environment_lakehouse_silver",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "1b301c79-ae65-a68a-4585-52d4ef826477",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "externalReferences": {
                    "connection": "27e9eab4-70dd-4e01-b27b-e82c07dac7d4"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Trafficapi Bronze to Silver",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "db60368a-6bf7-84d6-4fbf-28d0c9096ffd",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Silver Data Transformations",
        "dependsOn": [
          {
            "activity": "Weatherapi Bronze to SIlver",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Trafficapi Bronze to Silver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "435e37ca-c249-b939-4b9b-2fa52745b505",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric ML Forecast Model",
        "dependsOn": [
          {
            "activity": "Silver Data Transformations",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "pipelineReturnValue",
          "value": [
            {
              "key": "Error Message",
              "value": {
                "type": "Expression",
                "content": "@activity('Weatherapi Bronze to SIlver').error.message"
              }
            }
          ],
          "setSystemVariable": true
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Copy Bronze to Silver Error_ Weather",
        "dependsOn": [
          {
            "activity": "Weatherapi Bronze to SIlver",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "pipelineReturnValue",
          "value": [
            {
              "key": "Error Message",
              "value": {
                "type": "Expression",
                "content": "@activity('Trafficapi Bronze to Silver').error.message"
              }
            }
          ],
          "setSystemVariable": true
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Copy Bronze to Silver Error_ Traffic",
        "dependsOn": [
          {
            "activity": "Trafficapi Bronze to Silver",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "pipelineReturnValue",
          "value": [
            {
              "key": "Error Message",
              "value": {
                "type": "Expression",
                "content": "@activity('Silver Data Transformations').error.message"
              }
            }
          ],
          "setSystemVariable": true
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Silver Data Transformation Error",
        "dependsOn": [
          {
            "activity": "Silver Data Transformations",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "pipelineReturnValue",
          "value": [
            {
              "key": "Error Message",
              "value": {
                "type": "Expression",
                "content": "@activity('Fabric ML Forecast Model').error.message"
              }
            }
          ],
          "setSystemVariable": true
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Fabric ML Forecast Notebook Error",
        "dependsOn": [
          {
            "activity": "Fabric ML Forecast Model",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "PBISemanticModelRefresh",
        "typeProperties": {
          "method": "post",
          "groupId": "2d460597-4ebb-406f-b6d2-20b62f5e7502",
          "datasetId": "38f83aa9-dd60-4e0e-97b6-cc5d559dc72c",
          "commitMode": "Transactional",
          "waitOnCompletion": true,
          "operationType": "SemanticModelRefresh"
        },
        "externalReferences": {
          "connection": "384fc2cd-64b9-471a-b9d8-81d98b205358"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Semantic model refresh",
        "dependsOn": [
          {
            "activity": "Fabric ML Forecast Model",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "pipelineReturnValue",
          "value": [
            {
              "key": "Error Message",
              "value": {
                "type": "Expression",
                "content": "@activity('Semantic model refresh').error.message"
              }
            }
          ],
          "setSystemVariable": true
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Semantic Model Refresh Error",
        "dependsOn": [
          {
            "activity": "Semantic model refresh",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "Office365Email",
        "typeProperties": {
          "body": "<p>Hi Team,</p>\n<p><br></p>\n<p>Please find the below pipeline details,</p>\n<p><br></p>\n<p>Pipeline @{pipeline().RunId}</p>\n<p>Pipeline @{pipeline().PipelineName}</p>\n<p>Thanks</p>\n<p>Fabric Team</p>",
          "to": "jerlourd@publicisgroupe.net",
          "subject": "Pipeline Notifications"
        },
        "externalReferences": {
          "connection": "9e75ba6e-8e80-4652-b55b-93bcb7012f2e"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Office365Email Notifications",
        "dependsOn": [
          {
            "activity": "Set Fabric ML Forecast Notebook Error",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "Set Semantic Model Refresh Error",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "Set Silver Data Transformation Error",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "Set Copy Bronze to Silver Error_ Weather",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "Set Copy Bronze to Silver Error_ Traffic",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "Semantic model refresh",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ]
  }
}